.all-events {
  .org-item {
    cursor: pointer;

    .org-item__body {
      display: none;
    }

    .org-item__heading {
      border-bottom: 1px solid;
      padding: 15px 0;
      font-size: 20px;
      text-transform: capitalize;
      position: relative;

      &:after {
        content: ">";
        transform: rotate(90deg) translateY(50%) scale(1, 2);
        position: absolute;
        right: 30px;
      }
    }

    &.-open {
      .org-item__body {
        display: block;
      }

      .org-item__heading {
        &:after {
          transform: rotate(-90deg) translateY(50%) scale(1, 2);
          right: 53px;
        }
      }
    }
  }
}