.aside-wrapper {
  position: fixed;
  right: -999px;
  top: 0;
  bottom: 0;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  transition: right 0.25s linear;
  min-height: 100vh;

  .content {
    background: white;
    width: 400px;
    right: 0;
    flex: none;
    position: relative;
    padding: 60px;
  }

  &.-shown {
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    z-index: 1000;

    .aside-wrapper__close-button {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}